<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_springsource_roo_pizzashop_domain_PizzaOrder" modelAttribute="pizzaOrder" path="/pizzaorders" render="${empty dependencies}" z="hQ7OufGJd8MKhcOOVE5Z2Qcb5mY=">
        <field:input field="name" id="c_com_springsource_roo_pizzashop_domain_PizzaOrder_name" min="2" required="true" z="XfEGsuV3UVMuzCLf+td1VkrbWv0="/>
        <field:input field="adress" id="c_com_springsource_roo_pizzashop_domain_PizzaOrder_adress" max="30" z="2OFfJZt9LDWwvQgTtTCO/GRZQhI="/>
        <field:input field="totall" id="c_com_springsource_roo_pizzashop_domain_PizzaOrder_totall" validationMessageCode="field_invalid_number" z="yMhyZ5j6/pHSNJrdeWDNAJh9AQQ="/>
        <field:datetime dateTimePattern="${pizzaOrder_deliverydate_date_format}" field="deliveryDate" id="c_com_springsource_roo_pizzashop_domain_PizzaOrder_deliveryDate" z="jxH++Dzj5mCxFqdVgR8T5AaqNKc="/>
        <field:select field="pizzas" id="c_com_springsource_roo_pizzashop_domain_PizzaOrder_pizzas" itemValue="id" items="${pizzas}" multiple="true" path="/pizzas" z="sFcZtzm4XL4QoOj5aWobSutTQWE="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_springsource_roo_pizzashop_domain_PizzaOrder" render="${not empty dependencies}" z="dLu3sYzKqcf88r+B0z25ttgB3k0="/>
</div>
